<nav class="navbar">
  <div class="navbar-logo">
    <img src="https://assets.ccbp.in/frontend/react-js/logo-img.png" alt="logo" />
  </div>

  <div class="navbar-links">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
      <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
    </ul>
  </div>

  <div class="navbar-logout">
    <button class="logout-button" (click)="onLogout()">Logout</button>
  </div>
</nav>
